.example-spacer {
    flex: 1 10 auto;
  }

  .custom-toolbar {
    color: white;
    background-color: #009846;
    //padding: 0 5px;
  }
  .title-center {
    flex: 1 100 auto;
  text-align: center;
  }
