.example-spacer {
    flex: 2 10 auto;
  }
  .custom-toolbar {
    color: white;
    background-color: #009846;
    //padding: 0 5px;
  }
  .final{
    text-align: end;
    //align-items: end;
    margin-top: 10px;
    margin-bottom: 20px;
  }