.content { 
    padding: 16px; 
  }
  
  .content > mat-card { 
    width: auto; 
  }
  h1{
    text-align: center;
  }
  .content1 { 
    padding: 16px; 
  }
  
  .content1 > mat-card { 
    width: auto; 
  }
  .tamaño{
    width: 200px;
  }
  .login{

    width: 200px;
    height: 600px;


  }
