<ng-container>
  <h1>Bienvenidos Ala Plataforma de Indicadores</h1>
  <h1>TECNOLOGICO DE ESTUDIOS SUPERIORES DE IXTAPALUCA</h1>
</ng-container>
<ng-container>
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="InicioDeSesion()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email">      
      <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button>Login</button>
  </form>
</ng-container>

