

<div fxLayout="row" fxLayoutGap="10">

  <div class="content" flFlex="42%">
    <mat-card class="mat-elevation-z8">
        <!-- <mat-card-header>
                <mat-card-title>Himalayan Peaks</mat-card-title>
            </mat-card-header> -->
        <img mat-card-image src="./assets/images/Tesilogo.jpg">        
        <!-- <mat-card-content>
            <h1>
                Plataforma del Tecnologico de Estudios Superiores de Ixtapaluca Encargada de llevar a cabo
                Indicadores de Cacei para la
                probabilidad y estadisticas de los indices de aprobacion, resprobacion, rezago, desercion escolar.
            </h1>
        </mat-card-content> -->
        <!-- <mat-card-actions>
                <button mat-button>LIKE</button> <button mat-button>SHARE</button>
            </mat-card-actions> -->
    </mat-card>
   
    
</div>
  
 <div class="content1">
    <mat-card class="mat-elevation-z8">
        
        <img mat-card-image src="./assets/images/Cacei.jpg" />        
        <mat-card-content>
            <h1>
                Plataforma del Tecnologico de Estudios Superiores de Ixtapaluca Encargada de llevar a cabo
                Indicadores de Cacei para la
                probabilidad y estadisticas de los indices de aprobacion, resprobacion, rezago, desercion escolar.
            </h1>
        </mat-card-content>
        
    </mat-card>
   
    
</div>



  <!-- <app-login fxFlex="30%"></app-login> -->
  <div class="login" fxLayoutAlign="center center" fxFlex="20%">
    <mat-card class="mat-elevation-z8">

      <ng-container>
        <h1>Inicio de Sesion</h1>

      </ng-container>
      <ng-container>
        <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="InicioDeSesion()">
          <mat-form-field appearance="fill">
            <mat-label>Ingresa tu Email</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>

            <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
              Por Favor Ingresa El Email Correctamente.
            </mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
              El Email Es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Ingresa Tu Contraseña</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              La Contraseña Es <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <button matRipple mat-button (click)="InicioDeSesion()">Login</button>
        </form>
      </ng-container>
    </mat-card>
  </div>
</div>