<app-toolbar></app-toolbar>

<app-footer></app-footer>
<div fxLayout="row" fxLayoutGap="10">

    <app-card fxFlex="100%" [urlImage]="'./assets/images/Tesilogo.jpg'"></app-card>

    <div class="content">
        <mat-card class="mat-elevation-z8">
           
            <mat-card-content>
                <h1>
                    Plataforma del Tecnologico de Estudios Superiores de Ixtapaluca Encargada de llevar a cabo
                    Indicadores de Cacei para la
                    probabilidad y estadisticas de los indices de aprobacion, resprobacion, rezago, desercion escolar.
                </h1>
            </mat-card-content>
           
        </mat-card>
       
        
    </div> 

    <app-login fxFlex="30%"></app-login>

</div>