<app-toolbar></app-toolbar>

<app-footer></app-footer>
<div fxLayout="row" fxLayoutGap="10">
    <app-card fxFlex="100%"></app-card>
    <iframe name="f275bda9b065384" height="830px" data-testid="fb:page Facebook Social Plugin"
        title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true"
        allow="encrypted-media"
        src="https://web.facebook.com/v6.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df367dfa55b20744%26domain%3Dtesi.org.mx%26origin%3Dhttps%253A%252F%252Ftesi.org.mx%252Ff1ca51c6c570654%26relation%3Dparent.parent&amp;container_width=555&amp;height=830&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FTESIOficial%2F&amp;locale=es_LA&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline&amp;width=540px"
        style="border: none; visibility: visible; width: 600px; height: 830px;"></iframe>
    <app-login fxFlex="35%"></app-login>
</div>

<!-- <app-file-upload></app-file-upload> -->