<div class="file-drop-area">
    <span class="fake-btn">choose a file</span>
     <span class="file-msg">{{  file ? file.name:"Selec file" }}</span>
    <input class="file-input" type="file" miltiple="false">
</div>


<!-- <input type="file" (change)="onFileChange($event)" multiple="false" /> -->


<ng-container>
    <app-file-upload (change)="onFileChange($event)"></app-file-upload>
</ng-container>

    <button mat-button (click)="seleccionarTodo()">Seleccionar todos</button>

    <button mat-button (click)="Quitartodo()">Deseleccionar todos</button>

    <!-- <button mat-button (click)="CalculoSumaGenerica()">Calcular Sumativa generica</button> -->

    <button mat-button (click)="CalculoSumaGenerica()">Calcular Sumativa</button>

<ng-container *ngIf="data !== undefined">
    <table>
        <thead>
         
            <tr *ngFor="let row of data2">
                <td *ngFor="let cell of row">
                    {{cell}}
                </td>
            </tr>
            
        </thead>       
        <tbody>
            <tr *ngFor="let row of data1">
                               
                
                
                <td *ngFor="let cell of row">
                    {{cell}}
                    
               
                </td>
                <mat-checkbox (change)="$event.checked ? agregar(row) : quitar(row)"
                    [checked]="checked">
                </mat-checkbox>
                   

            </tr>
          
        </tbody>
    </table>
</ng-container>

