<button mat-button matTooltip="Descargar Excel">
    <a
      download="Formato Carga de Usuarios.xlsx"
      href="assets/formatos/Formato Carga de Usuarios.xlsx"
      >Descargar Formato Para Registro de Usuarios</a
    >
  </button>

  <button mat-button matTooltip="Descargar Excel">
    <a
      download="Formato Carga de Usuarios.xlsx"
      href="assets/formatos/Formato Carga de Usuarios.xlsx"
      >Descargar Formato Para Registro de Usuarios</a
    >
  </button>

  <button mat-button matTooltip="Descargar Excel">
    <a
      download="Formato Carga de Usuarios.xlsx"
      href="assets/formatos/Formato Carga de Usuarios.xlsx"
      >Descargar Formato Para Registro de Usuarios</a
    >
  </button>

  <button mat-button matTooltip="Descargar Excel">
    <a
      download="Formato Carga de Usuarios.xlsx"
      href="assets/formatos/Formato Carga de Usuarios.xlsx"
      >Descargar Formato Para Registro de Usuarios</a
    >
  </button>