  mat-grid-tile {
    background: #e1f9e3;
  }
.maxcontent{
  width: 100%;
  height: 100%;
}
mat-card-header{
  justify-content: center;
}
.content { 
  padding: 16px; 
  text-align: center;

}

.content > mat-card { 
  max-width: 750px; 
}
h1{
  text-align: justify;
}
.content1 { 
  padding: 16px; 
}

.content1 > mat-card { 
  max-width: 609px;; 
}

